@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Bold.woff2) format(woff2),
        url(fonts/Inter-Bold.woff) format(woff);
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-SemiBold.woff2) format(woff2),
        url(fonts/Inter-SemiBold.woff) format(woff);
}

html {
  box-sizing: border-box;
  }
  
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Inter, sans-serif;
  background-color: #E5E5E5;
  color: #6E6893;
}

button {
  padding: 0;
  cursor: pointer;
}

fieldset {
  margin: 0;
}

.container {
  box-sizing: border-box;
  max-width: 792px;
  padding: 32px 106px 28px;
  margin: 0 auto;
}

.section__heading {
  display: block;
  min-width: 258px;
  font-size: 24px;
  font-style: 700;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 43px;
}

.form {
  max-width: 580px;
}

.form__fieldset {
  padding: 28px;
  margin-bottom: 32px;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.form__label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 12px;
  font-style: 600;
  line-height: 15px;
  text-transform: uppercase;
}

.input-container {
  position: relative;
  padding-left: 50px;
}

.form__input {
  display: block;
  margin-bottom: 12px;
  padding: 0;
  background-color: #F4F2FF;
  border: 0;
  border-radius: 6px;
  min-width: 524px;
  line-height: 40px;
  font-size: 38px;
}

.form__checkbox {
  display: inline;
  appearance: none;
}

.form__checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #F2F4FF;
  border-radius: 6px;
}

.form__input_type_textarea {
  min-height: 112px;
}

.button {
  display: block;
  min-width: 200px;
  float: right;
  margin-right: 28px;
  background-color: #6D5BD0;
  font-size: 16px;
  line-height: 19px;
  font-style: 600;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 10px 25px;
  border: 0;
  border-radius: 6px;
}

.cross {
  background-image: url(img/cross.svg);
  background-size: contain;
  background-color: #E5E5E5;
  position: absolute;
  float: right;
  top: 20px;
  right: 30px;
  border: none;
  width: 20px;
  height: 20px;
}