@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Bold.woff2) format(woff2),
        url(fonts/Inter-Bold.woff) format(woff);
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-SemiBold.woff2) format(woff2),
        url(fonts/Inter-SemiBold.woff) format(woff);
}

html {
  box-sizing: border-box;
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Inter, sans-serif;
  color: #6E6893;
}

.overlay {
  position: fixed;
  inset: 0;
  padding: 50px 30px;
  background-color: rgba(0, 0, 0, .2);
  z-index: 999;
  overflow-y: auto;
}

.modal {
  margin: 0 auto;
  padding: 32px 106px 28px;
  max-width: 792px;
  background-color: #E5E5E5;
  position: relative;
}

.modal__heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  margin: 0 0 43px;
}

.modal__close {
  background-image: url(img/cross.svg);
  background-size: contain;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  width: 20px;
  height: 20px;
}

.form {
  max-width: 580px;
}

.form__fieldset {
  margin: 0;
  padding: 28px;
  margin-bottom: 32px;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.form__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
}

.form__optional-input {
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
}

.form__input {
  width: 100%;
  padding: 11px;
  background-color: #F4F2FF;
  border: 0;
  border-radius: 6px;
  line-height: 1.125;
  font-size: 16px;
  resize: none;
}

.form__input:last-child {
  margin: 0;
}

.form__checkbox {
  margin: 0;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: -50px;
}

.form__checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #F2F4FF;
  border-radius: 6px;
}

.form__checkbox:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.form__checkbox:checked:after {
  opacity: 1;
}

.form__button {
  display: block;
  min-width: 200px;
  margin: 0 28px 0 auto;
  background-color: #6D5BD0;
  font-size: 16px;
  line-height: 19px;
  font-style: 600;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 10px 25px;
  border: 0;
  border-radius: 6px;
}
